force-app/main/default/flows/Insight_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Account_Options_JSON</name>
        <label>Build Account Options JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MI_AccountOptionsBuilder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Insight_Tagger_Template</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dummy</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>MI_AccountOptionsBuilder</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAccountOptionsJson</assignToReference>
            <name>json</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Build_Product_Options_JSON</name>
        <label>Build Product Options JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MI_ProductOptionsBuilder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Account_Options_JSON</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dummy</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>MI_ProductOptionsBuilder</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varProductOptionsJson</assignToReference>
            <name>json</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Build_Subject_Options_JSON</name>
        <label>Build Subject Options JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MI_SubjectOptionsBuilder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Build_Product_Options_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dummy</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>MI_SubjectOptionsBuilder</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varSubjectOptionsJson</assignToReference>
            <name>json</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_Insight_Tagger_Template</name>
        <label>Call Insight Tagger Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Insight_Tagger_Template</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Insight_Tags</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:accountOptionsJson</name>
            <value>
                <elementReference>varAccountOptionsJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:subjectOptionsJson</name>
            <value>
                <elementReference>varSubjectOptionsJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Medical_Insight</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:productOptionsJson</name>
            <value>
                <elementReference>varProductOptionsJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Insight_Tagger_Template</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varModelJson</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Insight_Tags</name>
        <label>Parse Insight Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MI_InsightResultParserTags</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Medical_Insight_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>modelJson</name>
            <value>
                <elementReference>varModelJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MI_InsightResultParserTags</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAccountIds</assignToReference>
            <name>accountIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAccountTagsString</assignToReference>
            <name>accountNamesJoined</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varActionScore</assignToReference>
            <name>actionScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varClusterKey</assignToReference>
            <name>clusterKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varConfidence</assignToReference>
            <name>confidence</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varProductIds</assignToReference>
            <name>productIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varProductTagsString</assignToReference>
            <name>productNamesJoined</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varRedacted</assignToReference>
            <name>redacted</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSubjectTagsString</assignToReference>
            <name>subjectNamesJoined</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSummary</assignToReference>
            <name>summary</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>set_assignment_id</name>
        <label>set assignment id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Medical_Insight_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Med_Insight_Account_Exists</name>
        <label>If Med Insight Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>create_med_insight_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Med_Insight_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Med_Insight_Account_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Med_Insight_Account</targetReference>
            </connector>
            <label>Med Insight Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Med_Insight_Product_Decision</name>
        <label>New Med Insight Product Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>create_med_insight_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Med_Insight_Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_med_insight_product_exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Medical_Insight_Product</targetReference>
            </connector>
            <label>Med Insight Product Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Insight Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insight Trigger Flow</label>
    <loops>
        <name>Update_Med_Insight_Account</name>
        <label>Update Med Insight Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varAccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Med_Insight_Account_Exists</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_Medical_Insight_Product</name>
        <label>Update Medical Insight Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varProductIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_med_insight_product_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Med_Insight_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_med_insight_account</name>
        <label>create med insight account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Med_Insight_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__NotFound</field>
            <value>
                <elementReference>Update_Med_Insight_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicalInsightId__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_med_insight_product</name>
        <label>create med insight product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Medical_Insight_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>MedicalInsightId__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__NotFound</field>
            <value>
                <elementReference>Update_Medical_Insight_Product</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Med_Insight_Account_Exists</name>
        <label>Check if Med Insight Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Med_Insight_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_if_med_insight_product_exists</name>
        <label>Check if med insight product exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Med_Insight_Product_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Medical_Insight_Record</name>
        <label>Update Medical Insight Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_assignment_id</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Account_Tags__c</field>
            <value>
                <elementReference>varAccountTagsString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Action_Score__c</field>
            <value>
                <elementReference>varActionScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Cluster_Key__c</field>
            <value>
                <elementReference>varClusterKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Confidence__c</field>
            <value>
                <elementReference>varConfidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Product_Tags__c</field>
            <value>
                <elementReference>varProductTagsString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Redacted__c</field>
            <value>
                <elementReference>varRedacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Subject_Tags__c</field>
            <value>
                <elementReference>varSubjectTagsString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>varSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_Debug_Model_Json__c</field>
            <value>
                <elementReference>varModelJson</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Subject_Options_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Content</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MedicalInsight</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountOptionsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountTagsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClusterKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConfidence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varModelJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductOptionsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductTagsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRedacted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectOptionsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectTagsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
