force-app/main/default/flows/MI_Insight_Theme_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Insight_Id_to_Collection</name>
        <label>Add Insight Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInsightIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Insights.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Insights</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>timeWindow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-{!varDaysBack}</expression>
    </formulas>
    <interviewLabel>MI Insight Theme Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MI Insight Theme Summary Flow</label>
    <loops>
        <name>Loop_Filtered_Insights</name>
        <label>Loop Filtered Insights</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varGetFilteredInsights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Insight_Id_to_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Filtered_Insights</name>
        <label>Get Filtered Insights</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Filtered_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>timeWindow</elementReference>
            </value>
        </filters>
        <filters>
            <field>AI_Product_Tags__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varProductFilter</elementReference>
            </value>
        </filters>
        <object>MedicalInsight</object>
        <outputReference>varGetFilteredInsights</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Filtered_Insights</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDaysBack</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varGetFilteredInsights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MedicalInsight</objectType>
    </variables>
    <variables>
        <name>varInsightIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThemeSummaryJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTimeWindowLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>original user question for Agentforce</description>
        <name>varUserQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
