package/main/default/flows/MI_Capture_Insight_Fast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Matched_Subject</name>
        <label>Set Matched Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMatchedSubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subject_Candidates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchedSubjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subject_Candidates.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchedSubjectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subject_Candidates.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subject_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Subject</name>
        <label>Set Other Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMatchedSubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Other_Subject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchedSubjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Other_Subject.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchedSubjectDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Other_Subject.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Subject_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Save_Failed</name>
        <label>Set Output Save Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>saved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could not save the medical insight.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Success</name>
        <label>Set Output Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>saved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSuccessMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insightId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insightUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInsightRecordRelativeUrl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Too_Short</name>
        <label>Set Output Too Short</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>saved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please provide more detail before saving the insight.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Primary_Account</name>
        <label>Increment Tag Count After Primary Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Secondary_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Secondary_Account</name>
        <label>Increment Tag Count After Secondary Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Tertiary_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Tertiary_Account</name>
        <label>Increment Tag Count After Tertiary Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Product_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Primary_Product</name>
        <label>Increment Tag Count After Primary Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Secondary_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Secondary_Product</name>
        <label>Increment Tag Count After Secondary Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Tertiary_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Tertiary_Product</name>
        <label>Increment Tag Count After Tertiary Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subject_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Primary_Subject</name>
        <label>Increment Tag Count After Primary Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Secondary_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Secondary_Subject</name>
        <label>Increment Tag Count After Secondary Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Link_Tertiary_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Tag_Count_After_Tertiary_Subject</name>
        <label>Increment Tag Count After Tertiary Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTagCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MI_TopicNames_Audit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Account_Token</name>
        <label>Has Account Token</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Recent_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Token</defaultConnectorLabel>
        <rules>
            <name>Has_Token</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryAccountToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryAccountToken</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_By_Name</targetReference>
            </connector>
            <label>Has Token</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Product_Name</name>
        <label>Has Product Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Subject_Candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Name</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_By_Name</targetReference>
            </connector>
            <label>Has Product Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Minimum_Dictation</name>
        <label>Has Minimum Dictation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Too_Short</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Too Short</defaultConnectorLabel>
        <rules>
            <name>Enough_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>utterance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>utteranceLength</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Account_Token</targetReference>
            </connector>
            <label>Enough Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Save_Full_Dictation_Note</name>
        <label>Should Save Full Dictation Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_MI_Account_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Note Needed</defaultConnectorLabel>
        <rules>
            <name>Needs_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUtteranceExceedsContentLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Full_Dictation_Content_Note</targetReference>
            </connector>
            <label>Needs Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Check_Subject_Assignment</name>
        <label>Should Check Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Try Other Subject</defaultConnectorLabel>
        <rules>
            <name>Has_Subject_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatchedSubjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMatchedSubjectId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Subject_Assignment</targetReference>
            </connector>
            <label>Has Subject Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Use_Other_Subject</name>
        <label>Should Use Other Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_MI_TopicNames_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Other Subject</defaultConnectorLabel>
        <rules>
            <name>Other_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Subject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Subject</targetReference>
            </connector>
            <label>Other Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Account_Link</name>
        <label>Should Create Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Secondary_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Account_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Account_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Account_Junction</targetReference>
            </connector>
            <label>Create Account Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Secondary_Account</name>
        <label>Should Link Secondary Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Account</defaultConnectorLabel>
        <rules>
            <name>Has_Secondary_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondaryAccountToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecondaryAccountToken</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Account_By_Name</targetReference>
            </connector>
            <label>Has Secondary Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Secondary_Account_Link</name>
        <label>Should Create Secondary Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Account Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Secondary_Account_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Account_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Secondary_Account_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Secondary_Account_Junction</targetReference>
            </connector>
            <label>Create Secondary Account Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Tertiary_Account</name>
        <label>Should Link Tertiary Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Account</defaultConnectorLabel>
        <rules>
            <name>Has_Tertiary_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTertiaryAccountToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTertiaryAccountToken</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tertiary_Account_By_Name</targetReference>
            </connector>
            <label>Has Tertiary Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Tertiary_Account_Link</name>
        <label>Should Create Tertiary Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Account Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Tertiary_Account_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tertiary_Account_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Tertiary_Account_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Tertiary_Account_Junction</targetReference>
            </connector>
            <label>Create Tertiary Account Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Product_Link</name>
        <label>Should Create Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Secondary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Product_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Product_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Product_Junction</targetReference>
            </connector>
            <label>Create Product Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Secondary_Product</name>
        <label>Should Link Secondary Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Product</defaultConnectorLabel>
        <rules>
            <name>Has_Secondary_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondaryProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecondaryProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Product_By_Name</targetReference>
            </connector>
            <label>Has Secondary Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Secondary_Product_Link</name>
        <label>Should Create Secondary Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Product Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Secondary_Product_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Product_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Secondary_Product_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Secondary_Product_Junction</targetReference>
            </connector>
            <label>Create Secondary Product Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Tertiary_Product</name>
        <label>Should Link Tertiary Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Subject_Candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Product</defaultConnectorLabel>
        <rules>
            <name>Has_Tertiary_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTertiaryProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTertiaryProductName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tertiary_Product_By_Name</targetReference>
            </connector>
            <label>Has Tertiary Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Tertiary_Product_Link</name>
        <label>Should Create Tertiary Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Subject_Candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Product Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Tertiary_Product_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tertiary_Product_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MI_Tertiary_Product_Link.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Tertiary_Product_Junction</targetReference>
            </connector>
            <label>Create Tertiary Product Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Subject_Link</name>
        <label>Should Create Subject Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Secondary_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Subject Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Subject_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Subject_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Subject_Assignment</targetReference>
            </connector>
            <label>Create Subject Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Secondary_Subject</name>
        <label>Should Link Secondary Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Subject</defaultConnectorLabel>
        <rules>
            <name>Has_Secondary_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondarySubjectName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSecondarySubjectName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Subject_By_Name</targetReference>
            </connector>
            <label>Has Secondary Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Secondary_Subject_Link</name>
        <label>Should Create Secondary Subject Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Link_Tertiary_Subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Subject Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Secondary_Subject_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Subject_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Secondary_Subject_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Secondary_Subject_Assignment</targetReference>
            </connector>
            <label>Create Secondary Subject Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_Tertiary_Subject</name>
        <label>Should Link Tertiary Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_MI_TopicNames_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Subject</defaultConnectorLabel>
        <rules>
            <name>Has_Tertiary_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTertiarySubjectName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTertiarySubjectName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tertiary_Subject_By_Name</targetReference>
            </connector>
            <label>Has Tertiary Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Tertiary_Subject_Link</name>
        <label>Should Create Tertiary Subject Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_MI_TopicNames_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Subject Link Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Tertiary_Subject_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tertiary_Subject_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Tertiary_Subject_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTagCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MI_Tertiary_Subject_Assignment</targetReference>
            </connector>
            <label>Create Tertiary Subject Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utterance_Contains_Subject</name>
        <label>Utterance Contains Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Subject_Candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatchedSubjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSubjectMatchesCurrentCandidate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_Subject</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>utteranceLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!utterance})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varAccountNameNormalized</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!accountName}, &quot;Doctors &quot;, &quot;&quot;), &quot;doctors &quot;, &quot;&quot;), &quot;Doctor &quot;, &quot;&quot;), &quot;doctor &quot;, &quot;&quot;), &quot;Dr. &quot;, &quot;&quot;), &quot;Dr &quot;, &quot;&quot;), &quot;dr. &quot;, &quot;&quot;), &quot;dr &quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>varContentForField</name>
        <dataType>String</dataType>
        <expression>IF({!varUtteranceExceedsContentLimit}, LEFT({!utterance}, 970) &amp; &quot; [full text captured in notes]&quot;, {!utterance})</expression>
    </formulas>
    <formulas>
        <name>varDefaultName</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(ISBLANK({!productName}), &quot;General&quot;, {!productName}) &amp; &quot; - &quot; &amp; IF(ISBLANK({!accountName}), &quot;Unspecified HCP/HCO&quot;, {!accountName}), 80)</expression>
    </formulas>
    <formulas>
        <name>varInsightRecordRelativeUrl</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/MedicalInsight/&quot; &amp; {!Create_Medical_Insight.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>varInsightRecordUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_610}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_610}) - 1) &amp; &quot;/lightning/r/MedicalInsight/&quot; &amp; {!Create_Medical_Insight.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>varLoopSubjectNameLower</name>
        <dataType>String</dataType>
        <expression>LOWER({!Loop_Subject_Candidates.Name})</expression>
    </formulas>
    <formulas>
        <name>varAccountRemainderAfterPrimary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varAccountNameNormalized}), &quot;&quot;, TRIM(IF(CONTAINS({!varAccountNameNormalized}, &quot;,&quot;), MID({!varAccountNameNormalized}, FIND(&quot;,&quot;, {!varAccountNameNormalized}) + 1, LEN({!varAccountNameNormalized})), IF(CONTAINS({!varAccountNameNormalized}, &quot; and &quot;), MID({!varAccountNameNormalized}, FIND(&quot; and &quot;, {!varAccountNameNormalized}) + 5, LEN({!varAccountNameNormalized})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varAccountRemainderAfterSecondary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varAccountRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varAccountRemainderAfterPrimary}, &quot;,&quot;), MID({!varAccountRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varAccountRemainderAfterPrimary}) + 1, LEN({!varAccountRemainderAfterPrimary})), IF(CONTAINS({!varAccountRemainderAfterPrimary}, &quot; and &quot;), MID({!varAccountRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varAccountRemainderAfterPrimary}) + 5, LEN({!varAccountRemainderAfterPrimary})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varPrimaryAccountToken</name>
        <dataType>String</dataType>
        <expression>TRIM(IF(CONTAINS({!varAccountNameNormalized}, &quot;,&quot;), LEFT({!varAccountNameNormalized}, FIND(&quot;,&quot;, {!varAccountNameNormalized}) - 1), IF(CONTAINS({!varAccountNameNormalized}, &quot; and &quot;), LEFT({!varAccountNameNormalized}, FIND(&quot; and &quot;, {!varAccountNameNormalized}) - 1), {!varAccountNameNormalized})))</expression>
    </formulas>
    <formulas>
        <name>varPrimaryProductName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!productName}), &quot;&quot;, TRIM(IF(CONTAINS({!productName}, &quot;,&quot;), LEFT({!productName}, FIND(&quot;,&quot;, {!productName}) - 1), IF(CONTAINS({!productName}, &quot; and &quot;), LEFT({!productName}, FIND(&quot; and &quot;, {!productName}) - 1), {!productName}))))</expression>
    </formulas>
    <formulas>
        <name>varProductRemainderAfterPrimary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!productName}), &quot;&quot;, TRIM(IF(CONTAINS({!productName}, &quot;,&quot;), MID({!productName}, FIND(&quot;,&quot;, {!productName}) + 1, LEN({!productName})), IF(CONTAINS({!productName}, &quot; and &quot;), MID({!productName}, FIND(&quot; and &quot;, {!productName}) + 5, LEN({!productName})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varProductRemainderAfterSecondary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varProductRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varProductRemainderAfterPrimary}, &quot;,&quot;), MID({!varProductRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varProductRemainderAfterPrimary}) + 1, LEN({!varProductRemainderAfterPrimary})), IF(CONTAINS({!varProductRemainderAfterPrimary}, &quot; and &quot;), MID({!varProductRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varProductRemainderAfterPrimary}) + 5, LEN({!varProductRemainderAfterPrimary})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varRecentVisitCutoff</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 7</expression>
    </formulas>
    <formulas>
        <name>varSecondaryAccountToken</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varAccountRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varAccountRemainderAfterPrimary}, &quot;,&quot;), LEFT({!varAccountRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varAccountRemainderAfterPrimary}) - 1), IF(CONTAINS({!varAccountRemainderAfterPrimary}, &quot; and &quot;), LEFT({!varAccountRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varAccountRemainderAfterPrimary}) - 1), {!varAccountRemainderAfterPrimary}))))</expression>
    </formulas>
    <formulas>
        <name>varSecondaryProductName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varProductRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varProductRemainderAfterPrimary}, &quot;,&quot;), LEFT({!varProductRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varProductRemainderAfterPrimary}) - 1), IF(CONTAINS({!varProductRemainderAfterPrimary}, &quot; and &quot;), LEFT({!varProductRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varProductRemainderAfterPrimary}) - 1), {!varProductRemainderAfterPrimary}))))</expression>
    </formulas>
    <formulas>
        <name>varSecondarySubjectName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSubjectRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varSubjectRemainderAfterPrimary}, &quot;,&quot;), LEFT({!varSubjectRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varSubjectRemainderAfterPrimary}) - 1), IF(CONTAINS({!varSubjectRemainderAfterPrimary}, &quot; and &quot;), LEFT({!varSubjectRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varSubjectRemainderAfterPrimary}) - 1), {!varSubjectRemainderAfterPrimary}))))</expression>
    </formulas>
    <formulas>
        <name>varIsAgentChannel</name>
        <dataType>Boolean</dataType>
        <expression>OR(LOWER(TRIM({!channel})) = &quot;agent&quot;, LOWER(TRIM({!channel})) = &quot;agentforce&quot;, LOWER(TRIM({!channel})) = &quot;agentforce dictation&quot;)</expression>
    </formulas>
    <formulas>
        <name>varSourceType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Recent_Visit.Id}), &quot;MedicalInsightsTab&quot;, &quot;Visit&quot;)</expression>
    </formulas>
    <formulas>
        <name>varSubjectSearchText</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!subjectName}), LOWER({!utterance}), LOWER({!subjectName}))</expression>
    </formulas>
    <formulas>
        <name>varSuccessMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Insight captured successfully.&quot; &amp; IF({!varUtteranceExceedsContentLimit}, &quot; Content is limited to 1000 chars; full dictation saved in Notes.&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varSubjectAssignmentName</name>
        <dataType>String</dataType>
        <expression>LEFT({!varDefaultName} &amp; &quot; | &quot; &amp; IF(ISBLANK({!varMatchedSubjectName}), &quot;Subject&quot;, {!varMatchedSubjectName}), 255)</expression>
    </formulas>
    <formulas>
        <name>varSubjectMatchesCurrentCandidate</name>
        <dataType>Boolean</dataType>
        <expression>OR(CONTAINS({!varSubjectSearchText}, {!varLoopSubjectNameLower}), CONTAINS({!varLoopSubjectNameLower}, {!varSubjectSearchText}))</expression>
    </formulas>
    <formulas>
        <name>varSubjectRemainderAfterPrimary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!subjectName}), &quot;&quot;, TRIM(IF(CONTAINS({!subjectName}, &quot;,&quot;), MID({!subjectName}, FIND(&quot;,&quot;, {!subjectName}) + 1, LEN({!subjectName})), IF(CONTAINS({!subjectName}, &quot; and &quot;), MID({!subjectName}, FIND(&quot; and &quot;, {!subjectName}) + 5, LEN({!subjectName})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varSubjectRemainderAfterSecondary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSubjectRemainderAfterPrimary}), &quot;&quot;, TRIM(IF(CONTAINS({!varSubjectRemainderAfterPrimary}, &quot;,&quot;), MID({!varSubjectRemainderAfterPrimary}, FIND(&quot;,&quot;, {!varSubjectRemainderAfterPrimary}) + 1, LEN({!varSubjectRemainderAfterPrimary})), IF(CONTAINS({!varSubjectRemainderAfterPrimary}, &quot; and &quot;), MID({!varSubjectRemainderAfterPrimary}, FIND(&quot; and &quot;, {!varSubjectRemainderAfterPrimary}) + 5, LEN({!varSubjectRemainderAfterPrimary})), &quot;&quot;))))</expression>
    </formulas>
    <formulas>
        <name>varTertiaryAccountToken</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varAccountRemainderAfterSecondary}), &quot;&quot;, TRIM(IF(CONTAINS({!varAccountRemainderAfterSecondary}, &quot;,&quot;), LEFT({!varAccountRemainderAfterSecondary}, FIND(&quot;,&quot;, {!varAccountRemainderAfterSecondary}) - 1), IF(CONTAINS({!varAccountRemainderAfterSecondary}, &quot; and &quot;), LEFT({!varAccountRemainderAfterSecondary}, FIND(&quot; and &quot;, {!varAccountRemainderAfterSecondary}) - 1), {!varAccountRemainderAfterSecondary}))))</expression>
    </formulas>
    <formulas>
        <name>varTertiaryProductName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varProductRemainderAfterSecondary}), &quot;&quot;, TRIM(IF(CONTAINS({!varProductRemainderAfterSecondary}, &quot;,&quot;), LEFT({!varProductRemainderAfterSecondary}, FIND(&quot;,&quot;, {!varProductRemainderAfterSecondary}) - 1), IF(CONTAINS({!varProductRemainderAfterSecondary}, &quot; and &quot;), LEFT({!varProductRemainderAfterSecondary}, FIND(&quot; and &quot;, {!varProductRemainderAfterSecondary}) - 1), {!varProductRemainderAfterSecondary}))))</expression>
    </formulas>
    <formulas>
        <name>varTertiarySubjectName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSubjectRemainderAfterSecondary}), &quot;&quot;, TRIM(IF(CONTAINS({!varSubjectRemainderAfterSecondary}, &quot;,&quot;), LEFT({!varSubjectRemainderAfterSecondary}, FIND(&quot;,&quot;, {!varSubjectRemainderAfterSecondary}) - 1), IF(CONTAINS({!varSubjectRemainderAfterSecondary}, &quot; and &quot;), LEFT({!varSubjectRemainderAfterSecondary}, FIND(&quot; and &quot;, {!varSubjectRemainderAfterSecondary}) - 1), {!varSubjectRemainderAfterSecondary}))))</expression>
    </formulas>
    <formulas>
        <name>varTopicNames</name>
        <dataType>String</dataType>
        <expression>IF({!varIsAgentChannel}, &quot;Channel: Agentforce dictation | &quot;, &quot;&quot;) &amp; IF(ISBLANK({!productName}), &quot;Product: Unspecified&quot;, &quot;Product: &quot; &amp; {!productName}) &amp; &quot; | &quot; &amp; IF(ISBLANK({!accountName}), &quot;Account: Unspecified&quot;, &quot;Account: &quot; &amp; {!accountName}) &amp; &quot; | Subject: &quot; &amp; IF(ISBLANK({!varMatchedSubjectName}), IF(ISBLANK({!subjectName}), &quot;Needs review&quot;, &quot;AI suggests: &quot; &amp; {!subjectName}), IF(OR({!varMatchedSubjectName} = &quot;Other&quot;, ISBLANK({!subjectName}), LOWER({!subjectName}) = LOWER({!varMatchedSubjectName})), {!varMatchedSubjectName}, {!varMatchedSubjectName} &amp; &quot; (from '&quot; &amp; {!subjectName} &amp; &quot;')&quot;)) &amp; &quot; | FollowUp: &quot; &amp; IF(ISBLANK({!varMatchedSubjectDescription}), IF(ISBLANK({!varMatchedSubjectName}), IF(ISBLANK({!subjectName}), &quot;Capture a specific follow-up action for this insight.&quot;, &quot;Consider adding tag [&quot; &amp; {!subjectName} &amp; &quot;] and route to medical strategy for review.&quot;), IF(ISBLANK({!accountName}), &quot;Share this insight with the product medical lead and monitor for repeat mentions.&quot;, &quot;Brief the account owner to validate impact with &quot; &amp; {!accountName} &amp; &quot; and monitor recurrence.&quot;)), {!varMatchedSubjectDescription})</expression>
    </formulas>
    <formulas>
        <name>varUtteranceExceedsContentLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!utterance}) &gt; 1000</expression>
    </formulas>
    <interviewLabel>MI Capture Insight Fast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MI Capture Insight Fast</label>
    <loops>
        <name>Loop_Subject_Candidates</name>
        <label>Loop Subject Candidates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSubjectCandidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Utterance_Contains_Subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Should_Check_Subject_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Full_Dictation_Content_Link</name>
        <label>Create Full Dictation Content Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_MI_Account_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Existing_MI_Account_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Full_Dictation_Content_Note.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Full_Dictation_Content_Note</name>
        <label>Create Full Dictation Content Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Full_Dictation_Content_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Existing_MI_Account_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Full Agentforce Dictation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Account_Junction</name>
        <label>Create MI Account Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Primary_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Secondary_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Secondary_Account_Junction</name>
        <label>Create MI Secondary Account Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Secondary_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Tertiary_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Secondary_Account_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Tertiary_Account_Junction</name>
        <label>Create MI Tertiary Account Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Tertiary_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Has_Product_Name</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Tertiary_Account_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Product_Junction</name>
        <label>Create MI Product Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Primary_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Secondary_Product</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Product_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Secondary_Product_Junction</name>
        <label>Create MI Secondary Product Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Secondary_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Tertiary_Product</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Secondary_Product_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Tertiary_Product_Junction</name>
        <label>Create MI Tertiary Product Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Tertiary_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Subject_Candidates</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>MedicalInsightId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Tertiary_Product_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Subject_Assignment</name>
        <label>Create MI Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Primary_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Secondary_Subject</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varSubjectAssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignmentId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>varMatchedSubjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsHostSubject</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Secondary_Subject_Assignment</name>
        <label>Create MI Secondary Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Secondary_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Should_Link_Tertiary_Subject</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varSubjectAssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignmentId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>Get_Secondary_Subject_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsHostSubject</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MI_Tertiary_Subject_Assignment</name>
        <label>Create MI Tertiary Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Tag_Count_After_Tertiary_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_MI_TopicNames_Audit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varSubjectAssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignmentId</field>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectId</field>
            <value>
                <elementReference>Get_Tertiary_Subject_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsHostSubject</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Medical_Insight</name>
        <label>Create Medical Insight</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Save_Full_Dictation_Note</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Output_Save_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varDefaultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>varContentForField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType</field>
            <value>
                <elementReference>varSourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TopicNames</field>
            <value>
                <elementReference>varTopicNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitId</field>
            <value>
                <elementReference>Get_Recent_Visit.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsight</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_By_Name</name>
        <label>Get Account By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recent_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPrimaryAccountToken</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Account_By_Name</name>
        <label>Get Secondary Account By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_MI_Secondary_Account_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varSecondaryAccountToken</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tertiary_Account_By_Name</name>
        <label>Get Tertiary Account By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_MI_Tertiary_Account_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varTertiaryAccountToken</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Account_Link</name>
        <label>Get Existing MI Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Account_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Secondary_Account_Link</name>
        <label>Get Existing MI Secondary Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Secondary_Account_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Secondary_Account_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Tertiary_Account_Link</name>
        <label>Get Existing MI Tertiary Account Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Tertiary_Account_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tertiary_Account_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Product_Link</name>
        <label>Get Existing MI Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Subject_Assignment</name>
        <label>Get Existing Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Subject_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMatchedSubjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Secondary_Subject_Assignment</name>
        <label>Get Existing Secondary Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Secondary_Subject_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Secondary_Subject_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Tertiary_Subject_Assignment</name>
        <label>Get Existing Tertiary Subject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Tertiary_Subject_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tertiary_Subject_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubjectAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_By_Name</name>
        <label>Get Product By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_MI_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Product_By_Name</name>
        <label>Get Secondary Product By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_MI_Secondary_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSecondaryProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tertiary_Product_By_Name</name>
        <label>Get Tertiary Product By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_MI_Tertiary_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTertiaryProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Secondary_Product_Link</name>
        <label>Get Existing MI Secondary Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Secondary_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Secondary_Product_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MI_Tertiary_Product_Link</name>
        <label>Get Existing MI Tertiary Product Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Create_Tertiary_Product_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MedicalInsightId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tertiary_Product_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MedicalInsightProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Subject</name>
        <label>Get Other Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Use_Other_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subject</object>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recent_Visit</name>
        <label>Get Recent Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Medical_Insight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varRecentVisitCutoff</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>PlannedVisitStartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Subject_By_Name</name>
        <label>Get Secondary Subject By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Secondary_Subject_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSecondarySubjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subject</object>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tertiary_Subject_By_Name</name>
        <label>Get Tertiary Subject By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Tertiary_Subject_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTertiarySubjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subject</object>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subject_Candidates</name>
        <label>Get Subject Candidates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Subject_Candidates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Subject</object>
        <outputReference>varSubjectCandidates</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MI_TopicNames_Audit</name>
        <label>Update MI TopicNames Audit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Output_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Medical_Insight.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TopicNames</field>
            <value>
                <elementReference>varTopicNames</elementReference>
            </value>
        </inputAssignments>
        <object>MedicalInsight</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Minimum_Dictation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Optional account name from agent context.</description>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Optional channel value from agent context.</description>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status message returned to Agentforce.</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Created Medical Insight record Id.</description>
        <name>insightId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lightning URL path to the created Medical Insight record.</description>
        <name>insightUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMatchedSubjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchedSubjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchedSubjectDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTagCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Optional product name from agent context.</description>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean success flag returned to Agentforce.</description>
        <name>saved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Optional subject name from agent context.</description>
        <name>subjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectCandidates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subject</objectType>
    </variables>
    <variables>
        <description>User dictation text.</description>
        <name>utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
